.shop {
    width: 78%;
    display: block;
    margin:20px auto;
    direction: var(--direction);
    padding: 2rem 2rem 0 2rem;
    font-size: var(--veryLg-font);
}

@media(max-width:1200px) {
    .shop {
        width: 100%;
    }
}
@media(max-width:576px){
    .shop {
        padding: 2rem 1rem 0 1rem;

    }
}