/* apply font family */
.ContainerSection>* {
    font-family: var(--font) !important;
}

.map img {
    border-radius: var(--Product-Border-radius);
    height: 250px;
    overflow: hidden;
    display: block;
    margin: auto;
    width: 100%;
    object-fit: cover;
}

.title {
    text-align: var(--float-left);
}

.addresinput fieldset {
    border: none !important;
}

.addresinput textarea::placeholder,
.addresinput textarea {
    text-align: var(--float-left);
    padding: 0 1rem;
    font-size: var(--xs-font);
}

.inputContainer {
    font-family: var(--font) !important;
    margin-bottom: 1rem;
    /* position: relative; */
}
.submit{
    color:var(--blue-pen);
}
.edit {
    background-color: var(--light-pen);
    border-radius: 4px;
    padding: 0.3rem 0.8rem;
    font-size: var(--xs-font);
    color: var(--dark-pen);
    display: inline-block;
    margin-bottom: 0.4rem;
    margin: 0.4rem 0.2rem;
    cursor: pointer;
    float: var(--textAlign-right);
}

.checkedRight {
    position: absolute !important;
    top: 4px;
    right: 0;
}

.checkedLeft {
    position: absolute !important;
    top: 4px;
    left: 0;
}