/* apply font family */
.ContainerSection>* {
    font-family: var(--font) !important;
}

.map img {
    border-radius: var(--Product-Border-radius);
    height: 250px;
    overflow: hidden;
    display: block;
    margin: auto;
    width: 100%;
    object-fit: cover;
}

.title {
    text-align: var(--float-left);
    margin: 40px 0;
    font-size: var(--xl-font);
}

.addresinput {
    direction: var(--direction) !important;

}

.addresinput input,
.addresinput textarea {
    font-family: "IRANSansWeb" !important;
    font-size: 11pt !important;
}

.addresinput fieldset {
    border: none !important;
}

.addresinput textarea::placeholder,
.addresinput textarea {
    text-align: var(--float-left);
    padding: 0 1rem;
    font-size: var(--xs-font);
}

.inputContainer {
    font-family: var(--font) !important;
    margin-bottom: 1rem;
    /* position: relative; */
}

.submit {
    color: var(--green-pen);
}

.edit {
    background-color: var(--light-pen);
    border-radius: 4px;
    padding: 0.3rem 0.8rem;
    font-size: var(--xs-font);
    color: var(--dark-pen);
    display: inline-block;
    margin-bottom: 0.4rem;
    margin: 0.4rem 0.2rem;
    cursor: pointer;
    float: var(--textAlign-right);
}

.checkedRight {
    position: absolute !important;
    top: 4px;
    right: 0;
}

.checkedLeft {
    position: absolute !important;
    top: 4px;
    left: 0;
}
.handlerContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.handlerContainer button {
    max-width: 30%;
    padding: 12px 35px;
    font-size: var(--md-font);
    border-radius: 15px;
    border: none;
    background-color: var(--blue-pen);
    color: #fff;
}
.handlerContainer button:hover {
    background-color: #24be64;
}
.containerPostCode{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.containerPostCode span {
    color: #707070;
    font-size: var(--xs-font);
    margin-top: 5px;
    padding: 0 15px;
    display: none;
    color: var(--red-pen);
}
.errorShowPost {
    display: inline !important;
}
.postCode{
    direction: var(--direction);
    padding: 8px 25px;
    border: 1px solid #707070;
    border-radius: 15px;
    outline: none;
}
.postCode::placeholder{
    margin: 0 auto;
    text-align: center;
}
.postCodeError {
    border-color: var(--red-pen);
}