.heroSection img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: fill;
}

.heroSection {
    height: 650px;

}

.descoverMore {
    position: absolute;
    top: 500px;
    left: 10%;
}
.leftDescoverMore{
    right: 10%;
}
@media(max-width:1200px) {
    .heroSection {
        height: 560px;
    }

    .descoverMore {
        position: absolute;
        top: 439px;
    }
}

@media(max-width:768px) {
    .descoverMore {
        display: none;
    }
}

@media(max-width:576px) {
    .heroSection {
        height: 300px;
    }

}