.squarePhoto,
.rectanglePhoto {
    border-radius: var(--Product-Border-radius);
    object-fit: cover;
    margin-bottom: 0.5rem;
    border: var(--borderWidth)
}

.squarePhoto {
    overflow: hidden;
}

.squarePhoto img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: 0 20%;
}

.priceproduct {
    direction: var(--direction);
    text-align: right;
}

.moreText {
    cursor: pointer;
    position: relative;
    margin-top: -2px;
}

.ret {
    width: 100% !important;
}

.squarePhoto:hover,
.rectanglePhoto:hover {
    border-radius: 0px !important;
    transition: 0.5s;
    cursor: pointer;
}

.rectanglePhoto {
    width: 100%;

    overflow: hidden;
}

.rectanglePhoto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rating span {
    color: var(--dark-pen);
}

.rating span svg {
    width: 14px !important;
    height: 14px !important;
}



.shopPage {
    height: 528px;
}

.collPage {
    height: 613px;

}

.info {
    font-size: var(--xs-font);
}

.infoEn {
    direction: rtl;

}

.titleInfo {
    min-width: 85px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    height: 21px;
    direction: var(--direction);
}

.product {
    width: fit-content;
    padding: 0 0 0.8rem 0;
    margin: auto;
    margin-top: 0;
    /* overflow: hidden; */
}

.productPhoto {
    border-radius: var(--Product-Border-radius);

}

.productPhoto:hover {
    border-radius: none;
}

.retDir {
    width: 100%;
    direction: rtl;
}

.retDirRevese {
    width: 100%;
    direction: ltr;
}

@media(max-width:1200px) {
    /* .rectanglePhoto {
        height: 796px !important;
    } */
}

@media(max-width:768px) {
    .rectanglePhoto {
        height: 596px;

    }

    .squarePhoto img {
        height: 244px;
    }


    .ret {
        width: 100% !important;
    }
}


@media(max-width:500px) {
    .squarePhoto img {
        height: 170px;
    }

    .rectanglePhoto {
        height: 436px;
    }
 
}
@media(max-width:420px){
    .info {
        font-size: var(--sm-font);
    }
}