.squarePhoto,
.rectanglePhoto {
    border-radius: var(--Product-Border-radius);
    object-fit: cover;
    margin-bottom: 0.5rem;
}

.squarePhoto {

    overflow: hidden;
}

.squarePhoto img {
    width: 350px;
    height: 250px;
    object-fit: cover;
}

.moreText {
    cursor: pointer;
}

.squarePhoto:hover,
.rectanglePhoto:hover {
    border-radius: 0px !important;
    transition: 0.5s;
    cursor: pointer;
}

.rectanglePhoto {
    width: 100%;

    overflow: hidden;
}

.rectanglePhoto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rating span {
    color: var(--dark-pen);
}

.rating span svg {
    width: 14px !important;
    height: 14px !important;
}

.collPage {
    height: 580px;
}

.shopPage {
    height: 470px;
}

.info {
    font-size: 9pt;
}

.product {
    width: fit-content;
    padding: 0 0 0.8rem 0;
    margin: auto;
    margin-top: 0;
    overflow: hidden;
}

.productPhoto {
    border-radius: var(--Product-Border-radius);

}

.productPhoto:hover {
    border-radius: none;
}

@media(max-width:992px) {
    .squarePhoto img {
        width: 300px;
    }


}

@media(max-width:768px) {
    .rectanglePhoto {
        height: 580px;
    }
}

@media(max-width:500px) {
    .squarePhoto img {
        width: 110%;
    }
}

@media(max-width:430px) {
    .squarePhoto img {
        height: 210px;
    }

    .rectanglePhoto {
        height: 500px;
    }
}