.container {
    direction: var(--direction) !important;
}

.container h1 {
    font-size: var(--xxl-font);
}

.container p {
    font-size: var(--xl-font);
}
.container >div > img{
    position: relative;
    height: 70vh;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.imageHeader {
    direction: var(--direction);
    width: 100%;
    padding: 0 !important;
    
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 95px;
    left: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
    font-size: 26px;
  
}

/* .imageHeader button {
    padding: 0.6rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    background: rgba(84, 84, 84, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    position: absolute;
    top: 10px;
    left: 80px;
    color: #fff;
    font-size: var(--xl-font);
} */
.imageHeader a,.imageHeader h1,.imageHeader p{

    backdrop-filter: blur(5.4px);
    background: rgb(255 255 255 / 21%);
}
.imageHeader a {
    display: flex;
    min-width: 114px;
    border-radius: var(--Product-Border-radius);

    direction: var(--direction);
    padding: 0 1.5rem 0 0.5rem;
    align-items: center;
    /* backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    background: rgba(84, 84, 84, 0.15); */
  
    color: #fff;
    font-size: var(--xl-font);
}

.imageHeader button svg {
    font-size: 2rem;
}

.imageHeader h1 {
    padding: 1rem 2.5rem;
    /* background: rgba(84, 84, 84, 0.15); */
    border-radius: var(--Product-Border-radius);
font-size: var(--veryLg-font);
    min-width: 300px;
    text-align: center;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    /* backdrop-filter: blur(5.4px); */
    margin: 1rem 0;
}

.imageHeader p {
    padding: 0.3rem 2.5rem;
    /* background: rgba(84, 84, 84, 0.15); */
    border-radius: var(--Product-Border-radius);
    font-size: var(--md-font);
    text-align: center;
    min-width: 311px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    /* backdrop-filter: blur(5.4px); */
    margin: 0;
}

.blogMain {
    margin: 50px 0 180px;
}

.imgBlog:hover {
    border-radius: 0;
}

.imgBlog {
    width: 60%;
    height: 630px;
    /* height: %; */
    background: url('/Assets/images/3.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 400px 400px 10px 10px;
    transition-duration: 0.6s;
    transition-timing-function: linear;

}

.imgTow {
    float: var(--textAlign-right);
}

.textMain {
    display: flex;
    flex-direction: column;
    /* justify-content: end; */
}

.blogMain h1 {
    margin-bottom: 2rem;
}
/* 
@media (max-width: 650px) {

    .imageHeader p,
    .imageHeader h1,
    .imageHeader button {
        display: block;
        padding: 5px 15px;
        font-size: 15pt;
        margin: 10px auto;
    }

    .imgBlog {
        width: 100%;
    }

    .imageHeader button {
        left: 10px;
    }

    .blogMain {
        margin: 50px 0;
    }
}

@media (max-width: 780px) {
    .blogMain h1 {
        margin-top: 3rem;
    }
}

@media (max-height: 700px) {
    .imageHeader {
        height: 90vh;
    }
} */
@media(max-width:500px){
    .imageHeader a{
        font-size: var(--lg-font);
    }
    .imageHeader h1{
        font-size: var(--oxx-font);
        min-width: 311px;
    }
  
}
@media(max-width:380px){
  .imageHeader{
      left: 26px;
  }
  
}
