.profile img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
    margin: 0 2rem;
}

.profile {
    direction: var(--direction);
    display: flex;
    align-items: center;
}

.editPro {
    font-size: var(--md-font);
    display: block;
    line-height: 1.5;
    cursor: pointer;

}

.RowProduct {
    background-color: var(--light-pen);
    border-radius: var(--Product-Border-radius);
    padding: 0.5rem;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    font-size: var(--xs-font);
    position: relative;
    direction: var(--direction);
    position: relative;
    margin: 1.5rem 0;
}

.RowProduct>div>span,
.status span,
.status svg {
    margin: 0 0.5rem;
}

.history,
.watchListDiv {
    height: fit-content !important;
}

.history button {
    font-size: var(--xs-font);
    padding: 0.3rem 3rem;
    margin: auto;
    display: block;
}

.close {
    background-color: var(--light-pen);
    border-radius: 100%;
    position: absolute;
    top: -19px;
    right: 2px;
    /* float: var(--textAlign-right); */
}

.addPhoto {
    position: absolute;
    bottom: 8px;
    left: 15%;
    cursor: pointer;
    transition: all .2s ease-in;
}

.addPhoto:hover {
    transform: scale(1.05);
}

.title {
    direction: var(--direction);
    margin: 1rem 0;
    font-size: var(--xl-font);
}

.stepper div:not(:last-child) span:nth-child(2)::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 99%;
    top: 52.5%;
    background-color: var(--lightGray-border);
    z-index: 0;
}

.stepper svg {
    max-width: 30px;
    max-height: 30px;
    margin-bottom: 0.2rem;
}

.shape svg,
.icon {
    font-size: var(--lg-font) !important;
    color: var(--lightGray-border);
    z-index: 9;

}

.stepper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    direction: var(--direction);
    margin: 4rem 0;

}

.active svg,
.active {

    color: var(--blue-pen);

}

.active::after {
    background-color: var(--blue-pen) !important;

}

.step {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.name {
    font-size: var(--lg-font);
    font-family: 'IRANSansWeb';

}

@media(max-width:510px) {

    .shape svg,
    .icon {
        font-size: var(--lg-font)
    }

    .stepper div span:nth-child(3) {
        font-size: var(--xs-font)
    }

    .stepper div:not(:last-child) span:nth-child(2)::after {
        content: "";
        top: 37px;

    }

    .RowProduct {
        padding: 0.5rem 0;
        font-size: var(--xs-font)
    }

    .RowProduct>div>span,
    .status span,
    .status svg {
        margin: 0 0.3rem;
    }

    .profile img {
        margin: 0 1rem;
    }

    .name {
        font-size: var(--lg-font);
        margin-bottom: 1rem;
        font-family: 'IRANSansWeb';
    }




}

@media(max-width:400px) {
    .RowProduct {
        flex-direction: column;

        justify-content: space-between;
        height: 30%;
    }

    .RowProduct>div>span,
    .status span,
    .status svg {
        margin: 0 0.6rem;
    }

    .status {
        width: 100% !important;
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 60px;
    }

}

/* 
@media(max-width:377px) {
    .stepper div span:nth-child(3) {
        overflow-wrap: break-word;
        width: 72px;
    }
} */

.messageExist {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 65px;
}

.messageExist p {
    text-align: center;
    color: var(--darkGray-border);
    font-size: var(--md-font);
}

.loader {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    background-color: #fff;
    object-fit: contain;
}