.product {
    width: 100%;
    /* height: 250px; */
    object-fit: cover;
    
}
.slider img{
    cursor: pointer;
}
.border{
    border: 1px solid var( --lightGray-border);

}
.slider {
    direction: ltr;
}

.arrow {
    color: var(--light-pen);
    height: 40px;
}

