.tiola {
    background-image: url('/Assets/images/tiola.svg');
    background-repeat: no-repeat;


    width: 100%;
    height: 100%;
}

.tiola p {
    padding: 2rem 0;
    text-align: justify;
    color: var(--light-pen);
}