.tiola {
    /* background-image: url('/Assets/images/tiola.png');
    background-repeat: no-repeat;
    background-size: contain; */
    /* background-position: left; */
    position: relative;

    width: 100%;
    height: 500vh;
    z-index: 10;
}
.pic {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('/Assets/images/tiola.svg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}
.tiola p {
    position: relative;
    height: 490vh;
    padding: 2rem 0;
    text-align: justify;
    color: var(--light-pen);
    z-index: 5;
    overflow-y: scroll;
}
.tiola p::-webkit-scrollbar {
    opacity: 0;
}