.tiola {
    background-image: url('/Assets/images/tiola.png');
    background-repeat: no-repeat;
    background-size: contain;
    /* background-position: left; */

    width: 100%;
    height: fit-content;
}

.tiola p {
    padding: 2rem 0;
    text-align: justify;
    color: var(--light-pen);
}