.payBtn {
    background-color: var(--red-pen);
    color: var(--light-pen);

}

.payBtn:hover {
    background-color: var(--light-pen);
    color: var(--red-pen);
}

.payBtn,
.addWatch {
    border: none;
    width: 200px;
    padding: 0.5rem 0;
    border-radius: var(--Product-Border-radius);
    margin: 0.5rem 0;
    font-size: var(--xl-font) !important;
}

.addWatch {
    background-color: var(--light-pen);
    color: var(--dark-pen);
    width: fit-content;
    padding: 0.5rem;
}

.addWatch:hover {
    background-color: var(--dark-pen);
    color: var(--light-pen);
}

