/* .CategoryPhoto  {
    border-radius: var(--Product-Border-radius);
    height: 250px !important;
} */
.CategoryPhoto img {
    object-fit: cover;
    object-position: 0 14%;
    width: 100%;
    height: 250px;
    border-radius: var(--Product-Border-radius);
    overflow: hidden;
    cursor: pointer;
    border: 1px solid var(--lightGray-border);


}

.categoryType {
    font-size: var(--xxl-font);
    padding-bottom: 1rem;
}

.CategoryProduct>div {
    background-color: var(--light-pen);
    border-radius: var(--Product-Border-radius);
    padding: 0.5rem;
}

.CategoryProduct img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 0.7rem;
    cursor: pointer;

}

.CategoryProduct {
    overflow: hidden;
}