.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.3rem 4rem;
    color: var(--light-pen);
    font-size: var(--md-font);
    direction: var(--direction);
    z-index: 10;
}

.allitems div span {
    margin: 0 1rem;
    display: inline-block;
}

.basket {
    position: relative;
}

.basket svg {
    font-size: 14pt;

}

.basket div {
    border-radius: 50%;
    padding: 2px 4px 0;
    position: absolute;
    top: -5px;
    right: 8px;
    font-size: var(--verySmall-font);
    border: 1px solid var(--light-pen);
}

.headaritem {
    width: 53%;
    justify-content: space-between;
}

.active {
    border-width: 10px;
    border-bottom: 1px solid var(--blue-pen);
}

.headaritem>span {

    width: 55px !important;
}


.allitems svg {
    width: 20px;
}

.allitems span,
.allitems svg,
.headerIcon span,
.headerIcon div {
    cursor: pointer !important;
}

.headerIcon>div {
    padding: 0 1.5rem !important;

}

.mobileIcon svg {
    margin: 0 5px;
    font-size: 16pt;
}

.mobileIcon .searchBox {
    font-size: 9pt !important;
}

.mobileIcon span {

    padding: 0 1.5rem !important;
}

.mobileLogo {
    justify-content: space-between;
    /* flex: 0.35; */
}

.mobileLogo>span:last-child {
    width: 30px !important;
}

.mobileLogo>span:first-child {
    padding: 0 1rem;
}

.headerIcon {
    display: flex;
    align-items: center;
}

.searchBox::placeholder {
    font-size: var(--sm-font) !important;
}

.searchBox {
    background-color: var(--light-pen);
    color: black;
    border-radius: 6px;
    text-align: left;
    animation-name: searchBoxAnimation;
    animation-duration: 0.6s;
    animation-timing-function: linear;
    width: 180px;
    padding: .5rem 1.8rem;
    border: none;
    font-size: var(--xs-font);
}

.searchBox:focus-visible,
.searchBox:focus {
    box-shadow: none;
    border: none;
    outline: none;


}

.searchBoxIcon {
    position: absolute;
    left: 30px;
    color: #111111;
    top: .5rem;
    font-size: 14pt !important;
    transition: all .2s linear;
}



.inputDesign {
    display: none;
}


@keyframes searchBoxAnimation {
    from {
        display: block;
        width: 0px;
    }

    to {
        width: 180px;
    }
}

@keyframes searchBoxAnimationMB {
    from {
        display: block;
        width: 0px;
    }

    to {
        width: 100%;
    }
}

@media(max-width:1000px) {
    .header {
        padding: 0.6rem 1.5rem;
        font-size: var(--xs-font);

    }

    .allitems div span {
        margin: 0 0.7rem;
    }
}

@media(max-width:768px) {
    .searchBoxIcon {
        left: 6px;
    }

    .basket div {
        border-radius: 50%;
        padding: 0 4px;
        position: absolute;
        top: -2px;
        right: -14px;
        font-size: var(--verySmall-font);
        border: 1px solid var(--light-pen);
    }
}

@media(max-width:475px) {

    .headerIcon div,
    .mobileIcon span {
        padding: 0 0 !important;

    }

    .header {
        padding: 0.6rem 1rem;
    }

    .searchBox {
        width: 100%;
        font-size: var(--xs-font) !important;
        padding: 5px 1.3rem 5px 1.3rem !important;
        animation-name: searchBoxAnimationMB;


    }

    .searchBox::placeholder {
        display: inline !important;
        font-size: var(--sm-font) !important;
        color: #111111 !important;
    }

    .searchBoxIcon {
        font-size: 9pt !important;
    }

    @keyframes searchBoxAnimation {
        from {
            display: block;
            width: 0px;
        }

        to {
            width: 100px;
        }
    }

    .suggest {
        top: 30px !important;
        
        /* left: 50px !important; */
    }

    .mobileIcon .searchBoxIcon {
        position: absolute;
        margin: 0 !important;
        right: 5px !important;
        top: 8px !important;
    }

}

@media(max-width:366px) {

    .headerIcon div,
    .mobileIcon span,
    .mobileLogo>span:first-child {
        padding: 0 0.5rem !important;
    }

}

/* style box suggest search */
.suggest {
    width: 80%;
    height: fit-content;
    padding: 10px 15px;
    background-color: #fff;
    color: #111111;
    position: absolute;
    top: 45px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start ;
    /* align-items: center; */
    max-height: 300px;
    overflow-y: scroll;
    scrollbar-width: none;
    z-index: 5150 !important;
    direction: rtl !important;
}

.suggest::-webkit-scrollbar {
    display: none;
}

.suggest a {
    z-index: 5150 !important;
    font-size: var(--sm-font) !important;
    display: block;
    float: var(--textAlign-right);
    color: #111111;
    text-decoration: none;
    transition: all .2s linear;
    margin-top: 10px;
    direction: rtl !important;
}

.suggest a:hover {
    height: fit-content;
    color: var(--blue-pen);
}