.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.6rem 4rem;
    color: var(--light-pen);
    font-size: 12pt;
    direction: var(--direction);
    border-radius: 0 0 8px 8px;
}

.headaritem {
    width: 53%;
    justify-content: space-between;
}

.headaritem>span {

    width: 55px !important;
}

.allitems span:not(:last-child),
.allitems svg {
    padding: var(--item-padding);
}

.mobileIcon span,
.mobileIcon>svg {
    padding: var(--item-padding);
}

.mobileLogo>span:last-child {
    width: 30px !important;
}

.mobileLogo>span {
    padding: var(--item-padding);
}

.headerIcon {
    display: flex;
    align-items: center;
}

.headerIcon>div,
.headerIcon>span {
    padding: var(--icon-padding);
}



.searchBox {
    background-color: var(--light-pen);
    color: black;
    border-radius: 6px;
    text-align: left;
    animation-name: searchBoxAnimation;
    animation-duration: 1.5s;
    width: 180px;
    padding: 0 1.5rem;
    border: none;

}

.searchBox:focus-visible,
.searchBox:focus {
    box-shadow: none;
    border: none;
    outline: none;


}

.searchBoxIcon {
    position: absolute;
    left: 4px;
    color: #111111;
    top: 5px;
}



.inputDesign {
    display: none;
}


@keyframes searchBoxAnimation {
    from {
        display: block;
        width: 0px;
    }

    to {
        width: 180px;
    }
}

@media(max-width:900px) {
    .header {
        padding: 0.6rem 1.5rem;
        font-size: 10pt;

    }
}



@media(max-width:475px) {
    .header {
        padding: 0.6rem 1rem;
    }

    .searchBox {
        width: 100px;
    }

    @keyframes searchBoxAnimation {
        from {
            display: block;
            width: 0px;
        }

        to {
            width: 100px;
        }
    }

}