.container {
    direction: ltr;
    min-height: 100vh;
    /* background: url("/Assets/images/5.jpeg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 80px;
    position: relative;
    z-index: 10 !important;
}
.img{
    background: url("/Assets/images/5.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: calc(100% + 10px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1 !important;
    transform: translateY(-10px);
}
.address {
    width: 45%;
    color: #fff;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    text-align: var(--float-left) !important;
    z-index: 50 !important;
}
.phone {
    width: 22%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 75px;
    z-index: 50 !important;
}
.address h1 {
    margin-bottom: 2rem;
    float: var(--textAlign-right);
    font-size: var(--oxx-font);
}

.address p , .phone p {
    width: 100%;
    background: #f3f3f336;
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    text-align: var(--float-left);
    padding: 8px 30px;
    margin-bottom: 3rem;
    font-size: var(--md-font);
}

.logos {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--xl-font);
    margin: 2rem auto 0;
}
.logos svg {
    cursor: pointer;
    transition: all .2s ease-in;
}
.logos svg:hover {
    transform: translateY(5px);
}

@media (max-width: 650px) {
    .container {
        flex-direction: column;
        padding: 30px 30px;
    }
    .phone , .address {
        width: 100%;
    }
}
@media (min-width: 651px) and (max-width: 900px) {
    .container {
        padding: 30px 30px;
    }
    .phone , .address {
        width: 40%;
    }
}

@media (min-height: 800px) {
    .container {
        height: 100vh;
        align-items: center;
    }
}