.explore {
    margin: 50px 0;
    padding: 0 50px;
    color: #965acf;
    background-color: inherit;
    font-family: var(--font) !important;
}


.explore img {
    width: 100% !important;
    height: 100% !important;
    border-radius: 15px;
    transition: all .2s linear;
    background: linear-gradient(180deg,
            rgba(242, 242, 242, 0)2%,
            rgba(242, 277, 193, 0)52%,
            rgba(0, 0, 0, .89)100%,
        );
    background-blend-mode: darken;
    z-index: 5;
}

.showProduct:hover .parag {
    opacity: 1;
    transform: translateY(0);
    
}

.showProduct:hover::before {
    opacity: 1;
}

.showProduct::before {
    transition: all .2s linear;
    border-radius: 15px;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    background: linear-gradient(180deg, rgba(242, 242, 242, 0) 0%, rgba(242, 227, 193, 0) 15%, rgba(0, 0, 0, 0.5) 59%, rgba(0, 0, 0, 0.8970938717283788) 100%);
    transform: translateY(0);
    z-index: 2;

}

.showProduct {
    transition: all .2 ease;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.showProduct p {
    font-family: var(--font) !important;
    font-size: var(--xs-font);
    position: absolute;
    padding: 10px 15px;
    transition: all .2s ease;
    color: white;
    bottom: 0px;
    left: 6px;
    transform: translateY(150%);
    z-index: 5;
    margin-bottom: 0px;
    opacity: 0;
}

@media (max-width: 480px) {
    .explore {
        margin: 50px 0;
        padding: 0 5px;
        background-color: inherit;
    }
}