:root {
  --font: "IRANSansWeb" , 'apple';
  --dark-pen: #000000;
  --light-pen: #ffffff;
  --darkGray-border: #343736;
  --lightGray-border: #707070;
  --border-bottom: 1px solid #cfcfcf;
  --blue-pen: #93a8c9;
    --medium-gray: #3e3f3a;
  --body-Color: #f2f2f2;
  --direction: rtl;
  --marginIcon: 0 0 0 1.5rem;
  --textAlign-right: right;
  --float-left: left;
  --Product-Border-radius: 8px;
  --red-pen: #c43131;
  --border-button: #c7c7c7;
  --verySmall-font: 7pt;
  --sm-font: 9pt;
  --xs-font: 10pt;
  --md-font: 12pt;
  --lg-font: 14pt;
  --xl-font: 16pt;
  --xxl-font: 21pt;
  --oxx-font: 26pt;
  --green-pen: #06745f;
  --greenLight-pen: #03c65e;

}

@font-face {
  font-family: 'IRANSansWeb';
  src: url('/Assets/Fonts/iranSans/eot/IRANSansWeb.eot');
  src: url('/Assets/Fonts/iranSans/eot/IRANSansWeb.eot') format('embedded-opentype'), url('/Assets/Fonts/iranSans/woff/IRANSansWeb.woff') format('woff'), url('/Assets/Fonts/iranSans/ttf/IRANSansWeb.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'apple';
  src: url('/Assets/Fonts/appleFont/Apple Symbols.ttf');
  src: url('/Assets/Fonts/appleFont/Apple Symbols.ttf') format('embedded-opentype'), url('/Assets/Fonts/appleFont/Apple Symbols.ttf') format('woff'), url('/Assets/Fonts/appleFont/Apple Symbols.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  position: relative;
  direction: rtl;
  font-family: var(--font) !important;
  background-color: var(--body-Color) !important;
  /* overflow-x: hidden; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  /* font-family: var(--font) !important; */
}

.headerBlur {
  background-color: none;
  backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
}

.Toastify__toast {
  font-family: var(--font) !important;
}

.headerColor {
  background-color: var(--dark-pen);
  border: 1px solid var(--darkGray-pen);


}



.swiper {
  /* direction: var(--direction); */
  width: 100%;
  height: 100%;
  z-index: 25 !important;
}



.swiper-slide {
  direction: var(--direction) ;
  /* text-align: center; */
  font-size: 18px;
  width: fit-content;
  height: fit-content;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: block !important;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 4rem !important;
  font-weight: 900;
}

.popo > .swiper-wrapper {
  /* position: none !important; */
  /* transition-property: none !important; */
  /* transform: none !important;
  transition: none !important; */
  z-index: 15 !important;
  font-family: "IRANSansWeb" !important;
}

.swiper-pagination {
  bottom: -6px !important;
  /* height: fit-content ; */
}
main{
  min-height: 70vh;
}
.mySwiperComment .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "IRANSansWeb" !important;
  min-width: fit-content !important;
  direction: ltr !important;
  /* width: auto !important; */
  /* height: fit-content; */
  /* box-shadow: 5px 10px 4px #23232354; */
  /* color: #fff; */
}

*>button {
  transition: all .3s linear !important;
}

/* hello */

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {

  padding: 1rem 0.7rem 1rem 3rem !important;
}

@media(max-width:480px) {
  .Toastify__toast-container--top-right {
    text-align: center !important;
    right: 0em !important;
  }
}

@media (max-width: 600px) {
  .swiper {
    z-index: 1 !important;
  }
}