:root {
  --dark-pen: #000000;
  --light-pen: #f2f2f2;
  --darkGray-border: #343736;
  --lightGray-border: #7f7f7f;
  --border-bottom: 1px solid #cfcfcf;
  --blue-pen: #6a8eae;
  --medium-gray: #3e3f3a;
  --body-Color: #f2f2f2;
  --direction:rtl;
  --marginIcon: 0 0 0 1.5rem;
  --textAlign-right:right;
  --float-left:left;
}

@font-face {
  font-family: 'IRANSansWeb';
  src: url('/Assets/Fonts/iranSans/eot/IRANSansWeb.eot');
  src: url('/Assets/Fonts/iranSans/eot/IRANSansWeb.eot') format('embedded-opentype'), url('/Assets/Fonts/iranSans/woff/IRANSansWeb.woff') format('woff'), url('/Assets/Fonts/iranSans/ttf/IRANSansWeb.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'apple';
  src: url('/Assets/Fonts/appleFont/6ecff1acfc72a3653c6b2ff78e7f6b9c.eot');
  src: url('/Assets/Fonts/appleFont/6ecff1acfc72a3653c6b2ff78e7f6b9c.eot') format('embedded-opentype'), url('/Assets/Fonts/appleFont/6ecff1acfc72a3653c6b2ff78e7f6b9c.woff') format('woff'), url('/Assets/Fonts/appleFont/6ecff1acfc72a3653c6b2ff78e7f6b9c.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  direction: rtl;
  font-family: 'IRANSansWeb' !important;
  background-color: var(--body-Color) !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.headerBlur {
  background-color: none;
  backdrop-filter: blur(5px);
  position: absolute;
  top: 0;

}

.headerColor {
  background-color: var(--dark-pen);
  border: 1px solid var(--darkGray-pen);

}

.slick-prev {
  left: 1.5rem !important;
  z-index: 1 !important;
}

.slick-next {
  right: 1.5rem !important;
  z-index: 1 !important;

}


.slick-next::before,
.slick-prev::before {
  content: '' !important;
}