.primaryBtn button {
    border: 1px solid var(--light-pen);
    background-color: var(--medium-gray);
    padding: 0.5rem 2rem;
    color: var(--light-pen);
    border-radius: 8px;
    width: 155px;
    font-size: var(--xs-font);
}
 .primaryBtnEn button{
    border: 1px solid var(--light-pen);
    background-color: var(--medium-gray);
    padding: 0.3rem 2rem 0.5rem;
    color: var(--light-pen);
    width: 155px;
    border-radius: 8px;
    font-size: var(--xs-font);
 }

.primaryBtn button:hover, .primaryBtnEn button:hover {


    background-color: var(--light-pen);
    color: #000;
    border: 1px solid var(--darkGray-border);
}

.lightBtn button {
    border: 1px solid var(--border-button);
    background-color: var(--light-pen);
    padding: 0.2rem 1rem;
    border-radius: 8px;
    color: var(--dark-pen);
    font-size: var(--xs-font) !important;



}

.lightBtn button:hover {
    background-color: var(--dark-pen);
    color: var(--light-pen);

}